/* -------------------------------------------------------------------------- */
/*                           ROOT VARIABLES (COLORS)                          */
/* -------------------------------------------------------------------------- */
:root {
    --background-color: rgba(0, 0, 0, 0.7);
    --foreground-color: rgb(237, 238, 240);
    --accent-color: #FF8000;
    --border-color: #ffffff;
    --icon-color: rgb(169, 174, 184);
    --icon-hover: rgba(169, 174, 184, 0.8);
    --hover-color: rgba(54, 54, 54, 0.8);
    --active-color: rgb(88, 95, 102);
    --inactive-color: rgba(63, 69, 75, 0.5);
}

/* -------------------------------------------------------------------------- */
/*                                 BASE STYLES                                */
/* -------------------------------------------------------------------------- */
* {
    font-size: 12px;
    color: var(--foreground-color);
    font-weight: 800;
    font-family: "JetBrainsMono NFP";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --- Yasb Bar --- */
.yasb-bar {
    background-color: var(--background-color);
    border-radius: 10px;
    border: 1px solid var(--border-color);
    padding: 0px 10px;
}

/* --- Icons --- */
.icon {
    font-size: 14px;
    color: var(--icon-color);
}

/* ============================================
   WIDGETS - GENERAL
   ============================================ */

/* --- Widget Base Styles --- */
.widget {
    margin: 0;
}

.widget .label {
    padding: 0px 2px;
}

/* --- Container Styles --- */
.container-left * , 
.container-right *  {
    margin: 0 2px;
}


.container-right .widget .icon:hover {
    color: var(--icon-hover);
}


/* --- Common Widget Padding --- */
/* .weather-widget,
.battery-widget,
.brightness-widget,
.wifi-widget {
    padding: 0 -5px;
} */



/* ============================================
   WIDGETS - WORKSPACE & LAYOUT CONTAINERS
   ============================================ */

/* --- Workspace and Layout Containers --- */
.apps-widget .widget-container,
.glazewm-workspaces .widget-container,
.glazewm-tiling-direction .widget-container {
    background-color: var(--background-color);
    border-radius: 12px;
    margin: 4px 0;
    border: 1px solid var(--border-color);
}

/* -------------------------------------------------------------------------- */
/*                             Applications Widget                            */
/* -------------------------------------------------------------------------- */
.apps-widget {
    padding: 0 4px 0 2px;
}

.apps-widget .widget-container .label {
    font-size: 12px;
}

.apps-widget .label {
    font-size: 14px;
    padding: 0 1px;
    color: var(--foreground-color);
}

/* -------------------------------------------------------------------------- */
/*                                  KOMOREBI                                  */
/* -------------------------------------------------------------------------- */

/*  Style for widget. */
.komorebi-workspaces {
    /* background-color: blue; */
    margin: 0 5px;
    padding: 0;
}

/* Style for widget container.  */
/* .komorebi-workspaces .widget-container { } */

.komorebi-workspaces .ws-btn {
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 3px;
} /*Style for buttons.*/

.komorebi-workspaces .ws-btn.active {
    background-color: var(--foreground-color);
    color: black;
} /*Style for the active workspace button.*/

/* ============================================
   WIDGETS - SYSTEM INFO
   ============================================ */

/* -------------------------------------------------------------------------- */
/*                                Uptime Widget                               */
/* -------------------------------------------------------------------------- */
.uptime {
    font-size: 14px;
    margin-bottom: 10px;
    color: var(--foreground-color);
    font-weight: 600;
}

/* -------------------------------------------------------------------------- */
/*                                Volume Widget                               */
/* -------------------------------------------------------------------------- */

/* .volume-widget {} */

.volume-widget .icon {
    color: var(--foreground-color);
    margin: 1px 2px 0 0;
}

/* -------------------------------------------------------------------------- */
/*                               Battery Widget                               */
/* -------------------------------------------------------------------------- */
.battery-widget .icon {
    /* margin-right: 6px; */ 
    color: var(--foreground-color);
}


/* ---------------------------- Brightness Widget --------------------------- */
.brightness-widget .widget-container {
    padding: 0px;
}

.brightness-widget .icon {
    color: var(--foreground-color);
    margin: 0px;
    font-size: 14px;
    font-family: "JetBrainsMono NFP";

}

/* ----------------------------- Weather Widget ----------------------------- */
.weather-widget {
    padding: 0 4px;
}
.weather-widget .icon {
    font-size: 15px;
    /* margin: 0 2px 1px 0; */
}

/* ============================================
   WIDGETS - POWER MENU
   ============================================ */

/* --- Power Menu Widget --- */

.power-menu-widget {
    /* padding-right: 5px; */
    margin-bottom: 2px;
}
.power-menu-widget .label {
    font-size: 14px;
}

/* --- Power Menu Popup --- */
.power-menu-popup {
    background-color: var(--background-color);
    opacity: 1;
    border-radius: 6px;
    padding: 10px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.power-menu-popup .button {
    padding: 0;
    width: 180px;
    height: 230px;
    border-radius: 8px;
    background-color: var(--background-color);
    opacity: 1; /* Adjusted opacity to 0.5 */
    color: var(--foreground-color);
    border-left: 4px solid rgba(0, 0, 0, 0.05);
    border-right: 4px solid rgba(0, 0, 0, 0.05);
    border-top: 8px solid rgba(0, 0, 0, 0.05);
    border-bottom: 8px solid rgba(0, 0, 0, 0.05);
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-color: var(--border-color);
    border-width: 1px; 
}

.power-menu-popup .button:hover {
    background-color: var(--hover-color);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    border-right: 4px solid rgba(0, 0, 0, 0.1);
    border-top: 8px solid rgba(0, 0, 0, 0.1);
    border-bottom: 8px solid rgba(0, 0, 0, 0.1);
    border-color: var(--border-color);
    border-width: 1px; 
}

.power-menu-popup .button .label {
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    color: var(--foreground-color);
}

.power-menu-popup .button .icon {
    font-size: 64px;
    padding-top: 32px;
    color: var(--foreground-color);
}

.power-menu-popup .button.cancel .icon {
    padding: 0;
    margin: 0;
}

.power-menu-popup .button.cancel .label {
    color: var(--foreground-color);
    margin: 0;
}

.power-menu-popup .button.cancel {
    height: 32px;
    border-radius: 4px;
}

/* ============================================
   WIDGETS - WIFI
   ============================================ */

/* --- WiFi Widget --- */
.wifi-widget {
    padding: 0;
    margin: 0;
    /* background-color: red; */
}
.wifi-widget .icon {
    color: var(--foreground-color);
    margin: 0;
}

.wifi-widget .widget-container .icon {
    font-size: 14px;
}

/* --- WiFi Menu --- */
.wifi-menu {
    background-color: rgba(17, 17, 27, 0.4);
    max-height: 350px;
    min-height: 375px;
    min-width: 375px;

}

.wifi-menu .progress-bar {
    max-height: 2px;
}

.wifi-menu .progress-bar::chunk {
    background-color: #4cc2ff;
}

.wifi-menu .header {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    /* background-color: rgba(17, 17, 27, 0.6); */
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .error-message {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    padding: 12px;
    background-color: red;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .wifi-list {
    /* background-color: rgba(17, 17, 27, 0.8); */
    margin-right: 3px;
}

.wifi-menu .wifi-item {
    min-height: 35px;
    padding: 2px 12px;
    margin: 2px 4px;
}

.wifi-menu .wifi-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 6px;
}

.wifi-menu .wifi-item[active=true] {
    background-color: rgba(255, 255, 255, 0.15);
    font-size: 14px;
    border-radius: 6px;
    min-height: 80px;
}

.wifi-menu .wifi-item .icon {
    font-size: 26px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .name {
    font-size: 14px;
    margin-right: 10px;
}

.wifi-menu .wifi-item .password {
    background-color: transparent;
    font-size: 14px;
}

.wifi-menu .wifi-item .status {
    font-size: 14px;
}

.wifi-menu .wifi-item .strength {
    font-size: 14px;
}

.wifi-menu .wifi-item .controls-container {
    padding-top: 8px;
}

.wifi-menu .wifi-item .connect {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 4px 30px;
    border-radius: 4px;
    border: none;
    font-size: 14px;
}

.wifi-menu .wifi-item .connect:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.wifi-menu .wifi-item .connect:pressed {
    background-color: rgba(255, 255, 255, 0.3);
}

.wifi-menu .footer {
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    margin-top: 2px;
    color: #9399b2;
    background-color: rgba(17, 17, 27, 0.6);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.wifi-menu .footer .settings-button {
    background-color: transparent;
    border: none;
    padding: 0 2px;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}

.wifi-menu .footer .refresh-icon {
    background-color: transparent;
    border: none;
    min-width: 26px;
    min-height: 26px;
    color: #fff;
}

.wifi-menu .footer .refresh-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
}

/* -------------------------------------------------------------------------- */
/*                              Wallpaper Widget                              */
/* -------------------------------------------------------------------------- */

.wallpapers-widget .icon {
    color: var(--foreground-color);
    font-size: 14px;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                               Taskbar Widget                               */
/* -------------------------------------------------------------------------- */

.taskbar-widget * {
    filter: invert(1) grayscale(1);
}

.taskbar-widget {
    padding: 0;
    margin: 0;
    border: none;
}
.taskbar-widget .widget-container { 
    margin: 0 3px;
} /* Container for the widget */

.taskbar-widget .app-container {
    padding: 0;
    margin: 0 6px;
    border: none;
}

.taskbar-widget .app-container:hover {
    background-color: var(--hover-color);
    border-radius: 3px;
}
.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}


/* Application containers */

.taskbar-widget .app-container.foreground {
} /* container for the focused app */

.taskbar-widget .app-container.flashing {} /* flashing container for the app (window is flashing) */

.taskbar-widget .app-container.running {
} /* container for running apps (not focused) */

.taskbar-widget .app-container .app-icon {
} /* Icon inside the container */

.taskbar-widget .app-container .app-title {} /* Label inside the container */
/* Taskbar preview popup is very limited in styling options, do not use margins/paddings here */
.taskbar-preview {}
.taskbar-preview .header {}
.taskbar-preview .header .title {}





/* --- Whkd Widget --- */
.whkd-widget {
    padding: 0 6px 0 6px;
}

.whkd-widget .icon {
    font-size: 14px;
    color: var(--foreground-color);
}




/* --- Wallpapers Gallery --- */
.wallpapers-gallery-window {
    background-color: rgba(20, 13, 14, 0.9);
    border: 0;
    margin: 0;
    border-radius: 8px;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
}

.wallpapers-gallery-buttons {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--foreground-color);
    border: none;
    font-size: 14px;
    padding: 8px 0;
    border-radius: 8px;
    margin: 0 8px 8px 8px;
    width: 600px;
}

.wallpapers-gallery-buttons:hover {
    background-color: rgba(255, 255, 255, 0.12);
}

.wallpapers-gallery-image {
    border: 4px solid transparent;
    border-radius: 10px;
}

.wallpapers-gallery-image:hover {
    border: 4px solid var(--accent-color);
}

.wallpapers-gallery-image.focused {
    border: 4px solid var(--accent-color);
}

/* ============================================
   WIDGETS - TASKBAR
   ============================================ */

/* --- Taskbar Widget --- */
.taskbar-widget {
    padding: 0;
    margin: 0;
    border: none;
}

.taskbar-widget .app-container {
    padding: 0 3px;
    border: none;
    margin: 0;
}

.taskbar-widget .app-container:hover {
    background-color: var(--hover-color);
    border-radius: 3px;
}

.taskbar-widget .app-container .app-title {
    padding-left: 4px;
}

/* -------------------------------------------------------------------------- */
/*                                    WHKD                                    */
/* -------------------------------------------------------------------------- */

/* --- Whkd Widget --- */
.whkd-widget {
    padding: 0 6px 0 6px;
}

.whkd-widget .icon {
    font-size: 14px;
    color: var(--foreground-color);
}

/* ============================================
   WIDGETS - SYSTRAY
   ============================================ */

/* --- Systray --- */
.systray {
    border: none;
    margin-right: -12px;
    display: flex;
    align-items: center;
}

.systray .unpinned-container {
    border-radius: 8px;
    padding: 2px;
}

.systray .pinned-container {
    background: transparent;
    padding: 2px;
}

.systray .button {
    margin: 0 2px;
    color: var(--foreground-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.systray .button:hover {
    background: var(--hover-color);
}

.systray .unpinned-visibility-btn {
    border-radius: 4px;
    font-size: 20px;
}

/* --- Media Widget --- */


/* 
.media-widget {}
.media-widget .widget-container {}
*/
.media-widget .label {
    font-weight: 800;
}

/*
.media-widget .label.alt {}
.media-widget .btn.play {}
.media-widget .btn.prev {}
.media-widget .btn.next {}
.media-widget .btn.disabled {} 

*/


/* --- CPU Widget --- */
/* .cpu-widget {
    padding: 1px;
} */

/* .cpu-widget .widget-container .icon {
    padding: 0px 4px;
} */


/* -------------------------------------------------------------------------- */
/*                                Clock Widget                                */
/* -------------------------------------------------------------------------- */

/* .clock-widget {
    margin-left: 60px;
    color: var(--accent-color);
    background-color: var(--accent-color);
}

/* .clock-widget {
    margin-left: auto;
}

.clock-widget .widget-container {
    margin-left: auto;
}
*/
.clock-widget .widget-container .label {
    font-weight: 800;
}


/* -------------------------------------------------------------------------- */
/*                            Active Window Widget                            */
/* -------------------------------------------------------------------------- */

/* .active-window-widget .your_class {} If you are using class_name option */
/* .active-window-widget .widget-container .label.alt {} */
/* .active-window-widget .widget-container .icon {} */

.active-window-widget {
    padding: 0;
    margin: 0 7px;
}

.active-window-widget .widget-container {
    padding: 0;
    margin: 0;
}

.active-window-widget .widget-container .label {
    padding: 0;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/*                                 User Widget                                */
/* -------------------------------------------------------------------------- */

.custom-widget .widget-container .label {
    font-size: 16px;
    padding-top: 3px;
    /* letter-spacing: 1px; */
    /* font-weight: bold; */
    font-family: "Moderniz"; 
}